<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Nicular</title>
    <%- include('partials/styles') %>

<body>


    <div id="root">
    <%- include('partials/header') %>
        <main id="main_container">
            <h4>FooBar</h4>
            <p>Fizzbuzzington of wooflepuff</p>
        </main>
        <%- include('partials/footer') %>
    </div>
    <%- include('partials/scripts') %>

</body>

</html>