#header_bar{
  width:100%;
  z-index: 55;
  }
  
  #banner_box{
      text-align: center;
      margin-top:1em;
      margin-bottom:1em;
      margin-left:1em;
      position: relative;
      float:left;
      /* background: radial-gradient(circle, rgba(255,255,255,0.9) 32%, rgba(241,241,241,0.9) 67%, rgba(230,230,230,0.9) 100%); */
      max-width:70%;
      min-width: 50%;
  }
  #banner{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px 0px 0px 15px;
    margin-left:0px;
    padding:0.2em;
  }
  
#banner_title{
  color:var(--primarycolor);
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-right:10px;
}