#open_nav{
  position: relative;
  float: left;
  border-radius: 0px 25px 25px 0px;
  background-color:white;
  padding:15px 15px 15px 5px;
  margin-top:1em;
  font-size: 1.5em;
}

.sidenav {
    height: 100vh; 
    width: 0; 
    position: fixed; 
    z-index: 70; 
    top: 0; 
    left: 0;
    background-color:rgba(32, 129, 194, 1); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0.3s;
  }
  
 
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  

  @media only screen and (min-width: 768px) {
    #open_nav{
      display:none;
    }
    
    .sidenav {
      display:none;
      }
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }