body{margin:0px;}

:root{
    --primarycolor:rgb(158,220,233);
    --secondarycolor:rgb(239,251,254);
    --footercolor:rgb(211,211,211);
    --navcolor:rgb(230,248,252);
}

#root {
    max-width: 800px;
    background-color: #fff;
    font-size: 12px;
    padding: 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    #root{
        border-radius: 20px 0px 20px 0px;
    }
}